[Unit]
Description=System monitor
After=antd-tunnel-publisher.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/sysmond
Restart=always

[Install]
WantedBy=multi-user.target